/* SCSS VARIABLES */
.content {
  position: absolute;
  top: 40vw;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content img {
  max-width: 115%;
}

.content a img {
  height: auto !important;
}

.content h1 {
  padding-top: 60px;
  color: #F3F3F3;
}

.content .wrapper {
  margin: 0;
  padding: 0;
}

/* HEADER */
.content header {
  padding: 20px 20px 0 20px;
  position: fixed;
  top: 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas: "nt mn mn sb . . . ";
  background-color: #141414;
  width: 100%;
  margin-bottom: 0px;
}

.content .netflixLogo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nt;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100px;
  max-height: 100%;
  padding-left: 30px;
  padding-top: 0px;
}

.content .netflixLogo img {
  height: 35px;
}

.content #logo {
  color: #E50914;
  margin: 0;
  padding: 0;
}

.content .main-nav {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: mn;
  padding: 0 30px 0 20px;
}

.content .main-nav a {
  color: #F3F3F3;
  text-decoration: none;
  margin: 5px;
}

.content .main-nav a:hover {
  color: #686868;
}

.content .sub-nav {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: sb;
  padding: 0 40px 0 40px;
}

.content .sub-nav a {
  color: #F3F3F3;
  text-decoration: none;
  margin: 5px;
}

.content .sub-nav a:hover {
  color: #686868;
}

/* MAIN CONTIANER */
.content .maincontainer {
  padding: 50px;
}

.content .box {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (minmax(100px, 1fr))[6];
      grid-template-columns: repeat(6, minmax(100px, 1fr));
}

.content .box a {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.content .box a:hover {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.content .box img {
  border-radius: 2px;
}

/* LINKS */
.link {
  padding: 50px;
}

.sub-links ul {
  list-style: none;
  padding: 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.sub-links a {
  color: #686868;
  text-decoration: none;
}

.sub-links a:hover {
  color: #686868;
  text-decoration: underline;
}

.logos a {
  padding: 10px;
}

.logo {
  color: #686868;
}

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  color: #686868;
  margin: 10px;
}

/* MEDIA QUERIES */
@media (max-width: 900px) {
  .content header {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "nt nt nt  .  .  . sb . . . " "mn mn mn mn mn mn  mn mn mn mn";
  }
  .content .box {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: (minmax(100px, 1fr))[4];
        grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
}

@media (max-width: 700px) {
  .content header {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "nt nt nt  .  .  . sb . . . " "mn mn mn mn mn mn  mn mn mn mn";
  }
  .content .box {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: (minmax(100px, 1fr))[3];
        grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
  .sublinks ul {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .wrapper {
    font-size: 15px;
  }
  .content header {
    margin: 0;
    padding: 20px 0 0 0;
    position: static;
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "nt"     "mn" "sb";
    text-align: center;
  }
  .netflixLogo {
    max-width: 100%;
    margin: auto;
    padding-right: 20px;
  }
  .main-nav {
    display: -ms-grid;
    display: grid;
    grid-gap: 0px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .content h1 {
    text-align: center;
    font-size: 18px;
  }
  .content .box {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .content .box a:hover {
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    -webkit-transform: scale(1);
    transform: scale(1.2);
  }
  .logos {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
  .sublinks ul {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    text-align: center;
    font-size: 15px;
  }
}
/*# sourceMappingURL=contenido.css.map */